@model IEnumerable<GTAC.Models.Student>

@{
    ViewData["Title"] = "Students";
    ViewData["NavStudents"] = "active";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Students</h6>
    </div>

    <div class="card-body">
        @*<a asp-action="Create" class="btn btn-primary mb-3">Create</a>*@
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Student
                        </th>
                        <th>
                            Enrolled
                        </th>
                        <th>
                            Graduated
                        </th>

                        <th>
                            Instructor
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.User.Firstname @item.User.Lastname
                            </td>
                            <td>
                                @if (item.EnrolledAt != null)
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                            </td>
                            <td>
                                @if (item.GraduatedAt != null)
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                            </td>


                            <td>
                                @item.Instructor.Firstname @item.Instructor.Lastname
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                @if (item.EnrolledAt == null)
                                {
                                    <span>| <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a></span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $('#dataTable').DataTable();
        });
    </script>
}

