@model GTAC.Models.Certificate
@{
    ViewData["Title"] = "Certificates";
    ViewData["NavCertificates"] = "active";
}
@if (ViewBag.isValid)
{
    <script src='https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"
            integrity="sha512-U5C477Z8VvmbYAoV4HDq17tf4wG6HXPC6/KM9+0/wEXQQ13gmKY2Zb0Z2vu0VNUWch4GlJ+Tl/dfoLOH4i2msw==" crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <style>
        .container-iframe {
            position: relative;
            width: 86%;
            overflow: hidden;
            padding-top: 56.25%; /* 16:9 Aspect Ratio */
        }

        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4 border-left-primary">
                <div class="card-body mb-4">
                    <div class="row">
                        <div class="col-sm-12 text-center mb-4">
                            <h1 class="d-none d-md-block">CONGRATULATIONS!</h1>
                            <h5 class="d-md-none">CONGRATULATIONS!</h5>
                            <h5>Your certificate is ready!  Kindly download it below.</h5>
                        </div>
                    </div>
                    <div style="margin: 0 10%" oncontextmenu="return false">
                        <main class="container-iframe mx-auto">
                            <canvas class="pdf-viewer responsive-iframe">
                            </canvas>
                        </main>
                        <button id="pdf_link" class="mx-auto mt-4 btn btn-primary" style="display: block;">
                            Download Pdf
                        </button>
                    </div>
                    @if (User.IsInRole("Admin") || User.IsInRole("Instructor") || User.IsInRole("Manager") || User.IsInRole("Staff"))
                    {
                        <div class="row mt-5">
                            <div class="col-lg-4 ">
                                <dl class="row">
                                    <dt class="col-lg-4">
                                        Author
                                    </dt>
                                    <dd class="col-lg-8">
                                        @Model.Author?.Firstname  @Model.Author?.Lastname
                                    </dd>
                                    <dt class="col-lg-4">
                                        Approver
                                    </dt>
                                    <dd class="col-lg-8">
                                        @Model.Approver?.Firstname  @Model.Approver?.Lastname
                                    </dd>
                                    <dt class="col-lg-4">
                                        Approve Date
                                    </dt>
                                    <dd class="col-lg-8">
                                        @Model.ApprovedDate
                                    </dd>
                                    <dt class="col-lg-4">
                                        Status
                                    </dt>
                                    <dd class="col-lg-8">
                                        @GTAC.Helpers.EnumExtensions.GetDisplayName(Model.Status)
                                    </dd>
                                </dl>
                                <div>
                                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                                </div>

                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script type='text/javascript'>
            const { jsPDF } = window.jspdf;

            const doc = new jsPDF({ orientation: 'l' });

            doc.addImage('/images/@Model.Path', 'JPEG', 0, 0, 297, 210);

            doc.setFontSize(40);

            var lines = doc.splitTextToSize('@User.FindFirst("UserFullname").Value', 250);

            if (lines.length == 1) {
                doc.text(lines, 152, 120, { align: 'center', baseline: 'middle', maxWidth: '250' });
            } else {
                doc.setFontSize(23);
                doc.text(lines, 152, 112, { align: 'center', baseline: 'middle', maxWidth: '250', lineHeightFactor: 1 });
            }

            var string = doc.output('datauristring');

            $('#pdf_link').click(function () {
                doc.save("certificate");
                $.ajax({
                    url: "/Dashboard/Certificates/InsertLog",
                    type: "post",
                    success: function (res) {

                    },
                    error: function (err) {
                        console.log(err)
                    }
                });
            })

            const viewer = document.querySelector('.pdf-viewer');
            let currentPDF = {}

            function loadPDF(file) {
                const pdfFile = pdfjsLib.getDocument(file);
                resetCurrentPDF();
                pdfFile.promise.then((doc) => {
                    currentPDF.file = doc;
                    currentPDF.countOfPages = doc.numPages;
                    renderCurrentPage();
                });

            }

            function renderCurrentPage() {
                currentPDF.file.getPage(currentPDF.currentPage).then((page) => {
                    var context = viewer.getContext('2d');
                    var viewport = page.getViewport({ scale: currentPDF.zoom, });
                    viewer.height = viewport.height;
                    viewer.width = viewport.width;

                    var renderContext = {
                        canvasContext: context,
                        viewport: viewport
                    };
                    page.render(renderContext);
                });
            }

            loadPDF(string)

            function resetCurrentPDF() {
                currentPDF = {
                    file: null,
                    countOfPages: 0,
                    currentPage: 1,
                    zoom: 1.5
                }
            }

        </script>
    }

}
else
{
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card bg-primary text-white ">
                <div class="card-body">
                    Please wait for your course completion to download your certificate
                </div>
            </div>
        </div>
    </div>
}



