@model IEnumerable<GTAC.Models.ActivityLog>

@{
    ViewData["Title"] = "Activity Logs";
    ViewData["NavActivityLogs"] = "active";
}

<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Activity Logs</h6>

    </div>

    <div class="card-body">

        <form asp-action="Index" asp-area="Dashboard" asp-route-dateFromParam="@ViewBag.dateFromParam" asp-route-dateToParam="@ViewBag.dateToParam" asp-route-areaParam="@ViewBag.area" asp-route-actionParam="@ViewBag.action" method="get">
            <div class="form-row justify-content-center">
                <div class="form-group col-md-2">
                    <label class="control-label">From Date</label>
                    <div class="input-group date" id="datepicker1" data-target-input="nearest">
                        <input onkeypress="return false;" type="text" name="dateFromParam" class="form-control datetimepicker-input datetimepicker-input1" data-target="#datepicker1" />
                        <div class="input-group-append" data-target="#datepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text" style="background:white"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">To Date</label>
                    <div class="input-group date" id="datepicker2" data-target-input="nearest">
                        <input onkeypress="return false;" type="text" name="dateToParam" class="form-control datetimepicker-input datetimepicker-input1" data-target="#datepicker2" />
                        <div class="input-group-append" data-target="#datepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text" style="background:white"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Area</label>
                    <select class="form-control " name="areaParam" id="area" asp-items="Html.GetEnumSelectList<Area>()">
                        <option value="">All Area</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Action</label>
                    <select class="form-control" id="action" name="actionParam" asp-items="Html.GetEnumSelectList<GTAC.Models.Action>()">
                        <option value="">All Action</option>
                    </select>
                </div>
                <div class="form-group col-md-3 mt-auto">
                    <input type="submit" value="View" class="btn btn-primary">
                    <a target="_blank" asp-area="Dashboard" asp-action="Print" asp-route-dateFromParam="@ViewBag.dateFromParam" asp-route-dateToParam="@ViewBag.dateToParam" asp-route-areaParam="@ViewBag.area" asp-route-actionParam="@ViewBag.action" class="btn btn-primary">
                        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                    </a>
                </div>
            </div>
        </form>
        <hr />
        <div class="table-responsive">
            <table class="table table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Account
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Area
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.User.Firstname @item.User.Lastname
                            </td>
                            <td>
                                @item.CreatedAt.ToString("hh:mm tt")
                            </td>
                            <td>
                                @item.Area
                            </td>
                            <td>
                                @item.Description
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#datepicker1').datetimepicker({
                format: 'L',
                useCurrent: true,
                date:  new Date('@ViewBag.dateFromParam')
            });
             $('#datepicker2').datetimepicker({
                format: 'L',
                useCurrent: true,
                date:  new Date('@ViewBag.dateToParam')
             });
            $("#datepicker1").on("change.datetimepicker", function (e) {
                $('#datepicker2').datetimepicker('minDate', e.date);
            });
            $("#datepicker2").on("change.datetimepicker", function (e) {
                $('#datepicker1').datetimepicker('maxDate', e.date);
            });
            $('#action').val('@ViewBag.action')
            $('#area').val('@ViewBag.area')
            $('#dataTable').DataTable();
        });
    </script>
}

