@model GTAC.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Students";
    ViewData["NavStudents"] = "active";
}

<div class="row">
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Company User Details</h6>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-lg-4">
                        Fullname
                    </dt>
                    <dd class="col-lg-8">
                        @Model.User.Firstname @Model.User.Lastname
                    </dd>
                    <dt class="col-lg-4">
                        Email
                    </dt>
                    <dd class="col-lg-8">
                        @Model.User.Email
                    </dd>
                    <dt class="col-lg-4">
                        Phone
                    </dt>
                    <dd class="col-lg-8">
                        @Model.User.PhoneNumber
                    </dd>
                    <dt class="col-lg-4">
                        Birthday
                    </dt>
                    <dd class="col-lg-8">
                        @Model.User.Birthday
                    </dd>
                    <dt class="col-lg-4">
                        Address
                    </dt>
                    <dd class="col-lg-8">
                        @Model.User.Address
                    </dd>
                    <dt class="col-lg-4">
                        Role
                    </dt>
                    <dd class="col-lg-8">
                        @Model.Role
                    </dd>
                </dl>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.User.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>
        </div>
    </div>
</div>
