@model IEnumerable<GTAC.Models.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Users";
    ViewData["NavUsers"] = "active";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Company Users</h6>
    </div>
    <div class="card-body">
        <a asp-action="Create" class="btn btn-primary mb-3">Create</a>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Fullname
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Account
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span>
                                    <img id="preview" src="~/images/users/@(item.User.PhotoPath ?? "img-prev.jpg" )" style="height:30px; width:30px;" class="rounded-circle" />
                                </span>
                                @item.User.Firstname @item.User.Lastname
                            </td>
                            <td>
                                @item.User.Email
                            </td>
                            <td>
                                @item.Role
                            </td>
                            <td>
                                <label class="switch" style="margin-bottom:0">
                                    <input type="checkbox" class="primary" @(item.User.IsActivated == null ? "checked" : item.User.IsActivated == true ? "checked" : "" ) onclick='handleChkClick(this,"@item.User.Id")'>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.User.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.User.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.User.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $('#dataTable').DataTable();
        });
        function handleChkClick(cb, id) {
            $.ajax({
                url: "/Dashboard/Users/UpdateAccountStatus",
                data: { id, status: cb.checked },
                type: "get",
                success: function (res) {
                },
                error: function (err) {
                    console.log(err)
                }
            });

        }
    </script>
}

