@model GTAC.Models.RequestReschedule
@{
    ViewData["Title"] = "Request Reschedule";
    ViewData["NavRequests"] = "active";
}

<div class="row">
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Change Request Details</h6>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-lg-3">
                        Day 1
                    </dt>
                    <dd class="col-lg-9">
                        @Model.DayOne.ToString("dddd, MMM dd yyyy") <br />
                        <small>@Model.DayOne.ToString("h:mm tt") - @Model.DayOne.AddHours(2).ToString("h:mm tt")</small>
                    </dd>
                    <dt class="col-lg-3">
                        Day 2
                    </dt>
                    <dd class="col-lg-9">
                        @Model.DayTwo.ToString("dddd, MMM dd yyyy") <br />
                        <small>@Model.DayTwo.ToString("h:mm tt") - @Model.DayTwo.AddHours(2).ToString("h:mm tt")</small>
                    </dd>
                    <dt class="col-lg-3">
                        Day 3
                    </dt>
                    <dd class="col-lg-9">
                        @Model.DayThree.ToString("dddd, MMM dd yyyy") <br />
                        <small> @Model.DayThree.ToString("h:mm tt") - @Model.DayThree.AddHours(2).ToString("h:mm tt")</small>
                    </dd>
                    <dt class="col-lg-3">
                        Day 4
                    </dt>
                    <dd class="col-lg-9">
                        @Model.DayFour.ToString("dddd, MMM dd yyyy") <br />
                        <small> @Model.DayFour.ToString("h:mm tt") - @Model.DayFour.AddHours(2).ToString("h:mm tt")</small>
                    </dd>
                    <dt class="col-lg-3">
                        Fullname
                    </dt>
                    <dd class="col-lg-9">
                        @Model.Schedule.Student.User.Firstname  @Model.Schedule.Student.User.Lastname
                    </dd>
                    <dt class="col-lg-3">
                        Email
                    </dt>
                    <dd class="col-lg-9">
                        @Model.Schedule.Student.User.Email
                    </dd>
                    <dt class="col-lg-3">
                        Contact
                    </dt>
                    <dd class="col-lg-9">
                        @Model.Schedule.Student.User.PhoneNumber
                    </dd>
                    <dt class="col-lg-3">
                        Status
                    </dt>
                    <dd class="col-lg-9">
                        @Model.Status
                    </dd>
                    <dt class="col-lg-3">
                        Approved At
                    </dt>
                    <dd class="col-lg-9">
                        @Model.ApprovedAt
                    </dd>
                </dl>
                <div>
                    <a asp-action="Edit" class="btn btn-primary " asp-route-id="@Model.Id">Edit</a>
                    <br />
                    <br />
                    <a asp-action="Details" asp-controller="Schedules" asp-route-id="@Model.ScheduleId"> View Schedule </a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>

</div>
